<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Culqi - Java</title>
    <link th:href="@{/bootstrap.min.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/bootstrap-theme.min.css}" type="text/css" rel="stylesheet" />
    <script src="https://checkout.culqi.com/plugins/v2/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="/static/dist/css/bootstrap.min.css"/>-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="/static/dist/css/bootstrap-theme.min.css"/>-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: -webkit-center;">
        <div class="col-md-12" >
            <h1>Nueva Venta</h1>
        </div>
        <div>
            <input id="codigo_comercio" th:value="${codigo_comercio}" hidden = "hidden" />
            <input id="llave_secreta" th:value="${llave_secreta}" hidden = "hidden" />
            <input id="nombreComercial" th:value="${nombreComercial}" hidden = "hidden" />
        </div>
        <div class="col-md-12"  style="text-align: left">
            <div class="form-group">
                <label>Moneda</label>
                <select class="form-control" id="moneda">
                    <option th:value="PEN">PEN</option>
                    <option th:value="USD">USD</option>
                </select>
            </div>
            <div class="form-group">
                <label>Monto</label>
                <input class="form-control" id="monto" />
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input class="form-control" id="descripcion" />
            </div>
            <div class="form-group">
                <label>Pedido</label>
                <input class="form-control" id="pedido" th:value="${nroPedido}" />
            </div>
            <div class="form-group">
                <label>Codigo del País</label>
                <input class="form-control" id="codigo_pais" value = "PE" />
            </div>
            <div class="form-group">
                <label>Ciudad</label>
                <input class="form-control" id="ciudad" />
            </div>
            <div class="form-group">
                <label>Usuario</label>
                <input class="form-control" id="usuario" />
            </div>
            <div class="form-group">
                <label>Dirección</label>
                <input class="form-control" id="direccion" />
            </div>
            <div class="form-group">
                <label>Teléfono</label>
                <input class="form-control" id="telefono" />
            </div>
            <div class="form-group">
                <label>Nombres</label>
                <input class="form-control" id="nombres" />
            </div>
            <div class="form-group">
                <label>Apellidos</label>
                <input class="form-control" id="apellidos" />
            </div>
            <div class="form-group">
                <label>Correo Electrónico</label>
                <input class="form-control" id="correo_electronico" />
            </div>
            <div style="width: 100%">
                <div style=" text-align: -webkit-center; padding-top: 50px; padding-bottom: 50px">
                    <a id="botonPagar" class="btn btn-primary" href="#" style="width: 150px">Pagar</a>
                </div>
            </div>
            <div class="panel panel-default" id="response-panel">
                <div class="panel-heading">Response</div>
                <div class="panel-body" id="response"></div>
            </div>
        </div>


        <!-- Abre el checkout Culqi -->
        <script type="text/javascript" th:inline="javascript">

            function configCulqi() {
                Culqi.publicKey = document.getElementById("codigo_comercio").value;

                Culqi.settings({
                    title: document.getElementById("nombreComercial").value,
                    currency: document.getElementById("moneda").value,
                    description: document.getElementById("descripcion").value,
                    amount: parseInt(document.getElementById("monto").value),
                });
            }

            $('#botonPagar').on('click', function(e){
                configCulqi();
                Culqi.open();
                e.preventDefault();
            });


            // Ejemplo: Tratando respuesta con AJAX (jQuery)
            function culqi() {
                if (Culqi.error){
                    alert("Culqi.error.mensaje");
                } else {
                    $.ajax({
                        url: "/venta",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            'token'               : Culqi.token.id,
                            'codigo_comercio'     : Culqi.codigoComercio,
                            'moneda'              : document.getElementById("moneda").value,
                            'monto'               : document.getElementById("monto").value,
                            'descripcion'         : document.getElementById("descripcion").value,
                            'pedido'              : document.getElementById("pedido").value,
                            'codigo_pais'         : document.getElementById("codigo_pais").value,
                            'ciudad'              : document.getElementById("ciudad").value,
                            'usuario'             : document.getElementById("usuario").value,
                            'direccion'           : document.getElementById("direccion").value,
                            'telefono'            : document.getElementById("telefono").value,
                            'nombres'             : document.getElementById("nombres").value,
                            'apellidos'           : document.getElementById("apellidos").value,
                            'correo_electronico'  : document.getElementById("correo_electronico").value,
                            'llave_secreta'       : document.getElementById("llave_secreta").value
                        }),

                        success: function(data) {
                            document.getElementById("response").innerHTML = data.responseText;
                        },

                        error: function(data) {
                            document.getElementById("response").innerHTML = data.responseText;
                        }
                    });

                }

            }

        </script>
    </div>
    <div class="col-md-4"></div>
    </body>
</html>
